@use '../../styles/variables'
@use '../../styles/mixins'
    
.banner-section
    color: #fff
    background-color: variables.$dark-blue
    position: relative
    display: flex
    justify-content: center

    &-container
        margin: 0 auto
        display: flex
        max-width: variables.$max-width
        align-items: center
        padding: 100px 16px

        @include mixins.mobile
            flex-direction: column

        >div
            flex: 1
            display: flex
            flex-direction: column
            justify-content: center

            @include mixins.mobile

                width: 100%
                padding: 28px
                
    h1
        font-size: 6rem
        @include mixins.mobile
            font-size: 3rem
            

        span
            display: block
            color: variables.$sky-blue


    p
        margin-bottom: 20px
        width: 80%
        @include mixins.mobile
            width: 100%

    .btn-container

        display: flex
        gap: 20px

        .btn
            gap: 8px

            &:hover
                color: #aaa
                

        .linkedin
            background-color: #0077B5
            color: white

        .github
            background-color: #000
            color: white

        svg
            font-size: 2rem

    .down-arrow
        position: absolute
        bottom: 4px
        font-size: 40px



    

