.btn-top
    aspect-ratio: 1
    position: fixed
    bottom: 32px
    left: 32px
    border: 3px solid black
    border-radius: 20px
    display: flex
    justify-content: center
    align-content: center
    color: black
    background-color: white

    animation: show .7s 1
    
    svg
        font-size: 2.5rem

@keyframes show
    0%
        opacity: 0
        