@use '../../styles/variables'
@use '../../styles/mixins'
    
    
.about-section
    display: flex
    justify-content: space-between
    max-width: variables.$max-width
    margin: 0 auto
    padding: 140px 16px

    @include mixins.mobile
        padding: 28px
        flex-direction: column-reverse


    .text-container
        width: 60%
        display: flex
        flex-direction: column
        justify-content: space-between

        @include mixins.mobile
            width: 100%

    .img-container
        display: flex
        max-width: 400px
        justify-content: center

        img
            width: 100%

        @include mixins.mobile
            width: 100%


    h2
        font-size: 4rem
        @include mixins.mobile
            font-size: 2rem
            margin-bottom: 16px

    p
        @include mixins.mobile
            margin-bottom: 16px


    .skills-container
        display: flex
        gap: 20px
        flex-wrap: wrap
        @include mixins.mobile
            margin-bottom: 20px
            justify-content: center

        >div
            display: flex
            flex-direction: column
            align-items: center

        svg
            font-size: 3rem
