@use '../../styles/variables'
@use '../../styles/mixins'
    
    
.about-section
    display: flex
    align-items: center
    justify-content: space-between
    max-width: variables.$max-width
    margin: 0 auto
    padding: 140px 0

    @include mixins.mobile
        padding: 28px
        flex-direction: column-reverse


    .text-container
        width: 60%
        @include mixins.mobile
            width: 100%
    .img-container
        width: 35%
        display: flex
        justify-content: center
        @include mixins.mobile
            width: 100%

    .me
        width: 100%
        max-width: 400px

    h2
        font-size: 4rem
        margin-bottom: 16px
        @include mixins.mobile
            font-size: 2rem

    p
        margin-bottom: 16px
